# Code Owners
# This list was created based on the original authors of OG format. Updated in January 2026 to reflect changing involvement

* @castelao @emmerbodc @jenseva @callumrollo @JuangaSocib @MOchiara
