# Code Owners
# This list was created based on the original authors of OG format

* @glidermann @vturpin @castelao @justinbuck kerfoot@marine.rutgers.edu thierry.carval@ifremer.fr jfernandez@socib.es mun.woo@uwa.edu.au
